@model Gravitas.Platform.Web.ViewModel.DeviceStateVms.LabInfroscanStateVm

@if (Model == null) {
    <div class="jumbotron">
        Відсутні дані
    </div>
} else { 
    <div class="row">
        <div class="col-6 form-group">
            @Html.LabelFor(m => m.Date)
            @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control ", @readonly = "true" } })
        </div>
    </div>
    <div class="row">
        <div class="col-3 form-group">
            @Html.LabelFor(m => m.HumidityValue)
            @Html.EditorFor(m => m.HumidityValue, new { htmlAttributes = new { @class = "form-control ", @readonly = "true" } })
        </div>
        <div class="col-3 form-group">
            @Html.LabelFor(m => m.ProteinValue)
            @Html.EditorFor(m => m.ProteinValue, new { htmlAttributes = new { @class = "form-control ", @readonly = "true" } })
        </div>
        <div class="col-3 form-group">
            @Html.LabelFor(m => m.CelluloseValue)
            @Html.EditorFor(m => m.CelluloseValue, new { htmlAttributes = new { @class = "form-control ", @readonly = "true" } })
        </div>
        <div class="col-3 form-group">
            @Html.LabelFor(m => m.FatValue)
            @Html.EditorFor(m => m.FatValue, new { htmlAttributes = new { @class = "form-control ", @readonly = "true" } })
        </div>
    </div>
}