@model Gravitas.Platform.Web.ViewModel.SecurityInVms.AddOperationVisaVm
@Html.HiddenFor(m => m.NodeId, new { @id = "nodeId" })

<div class="d-flex align-items-center icon-container">
    <div class="flex-shrink-1"><i class="fas fa-id-card"></i></div>
    <div class="p-3 w-100"><h3>Піднесіть картку Охоронця до зчитувача на вулиці (смуга заїзду)</h3></div>
</div>

@if (Model.TruckBaseInfo.IsTechRoute)
{
    <h4 style="color: red; text-align: center">Увага! Автомобіль з технологічним маршрутом</h4>
}

@if (string.IsNullOrEmpty(Model.OwnTruck))
{
    <div class="row">
        <div class="col-6">
            @Html.LabelFor(model => model.TruckBaseInfo.TransportNo, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.TruckBaseInfo.TransportNo, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
        </div>
        <div class="col-6">
            @Html.LabelFor(model => model.TruckBaseInfo.TrailerNo, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.TruckBaseInfo.TrailerNo, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
        </div>
        <div class="col-6">
            @Html.LabelFor(model => model.TruckBaseInfo.ProductName, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.TruckBaseInfo.ProductName, new { htmlAttributes = new { @class = "form-control" , @readonly = "true" }})
        </div> 
        <div class="col-6">
            @Html.LabelFor(model => model.TruckBaseInfo.StampList, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.TruckBaseInfo.StampList, new { htmlAttributes = new { @class = "form-control" , @readonly = "true" }})
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-6">
            @Html.LabelFor(model => model.OwnTruck, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.OwnTruck, new { htmlAttributes = new { @class = "form-control" , @readonly = "true" }})
        </div> 
        <div class="col-6">
            @Html.LabelFor(model => model.OwnTrailer, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.OwnTrailer, new { htmlAttributes = new { @class = "form-control" , @readonly = "true" }})
        </div>
    </div>
}


<hr />
<h4>
    Піднесенням картки працівник охорони підтверджує:
    <p> - дозвіл на заїзд автотранспорту на територію підприємства згідно з поточною посадовою інструкцією</p>
</h4>

@Ajax.ActionLink(@"Скасувати", "CancelOperation", "SecurityIn", new { nodeId = Model.NodeId }, null, new { @class = "btn btn-outline-danger btn-lg btn-block float-right", style = "width: 200px;" })